<?xml version="1.0" encoding="utf-8"?>
<manifest package="cz.droidboy.worktime"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".DayActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.droidboy.worktime.MainActivity"/>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.droidboy.worktime.MainActivity"/>
        </activity>

        <provider
            android:name=".data.WorkTimeProvider"
            android:authorities="@string/content_authority"
            android:exported="false"/>

        <service
            android:name="cz.droidboy.worktime.WiFiDetectionService"
            android:enabled="true"
            android:exported="false">
        </service>

        <receiver
            android:name="cz.droidboy.worktime.ActivateServiceReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7403dfdeb5ade47fc54017034f0086bdc6823845" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
